CONTACT_OWNER_EMAIL=maharhassan151@gmail.com

RESEND_API_KEY=re_your_resend_api_key
CONTACT_FROM_EMAIL=Portfolio Website <enquiries@yourdomain.com>

WHATSAPP_ACCESS_TOKEN=your_meta_access_token
WHATSAPP_PHONE_NUMBER_ID=your_phone_number_id
WHATSAPP_OWNER_NUMBER=971556539149
WHATSAPP_GRAPH_VERSION=v23.0
WHATSAPP_TEMPLATE_NAME=project_enquiry_notification
WHATSAPP_TEMPLATE_LANGUAGE=en_US
